section {
  border: 5px solid #BDBDBD;
  color: #FFFFFF;
  font-family: 'Kalam', cursive;
  height: 100%;
  position: absolute;
  width: 100%;
}

article {
  height: 33.33%;
  position: absolute;
  width: 20%;
}

.title {
  background-color: #455A64;
  left: 0;
  top: 0;
  width: 40%;
}

.header {
  font-size: 2.5em;
  left: 5%;
  position: absolute;
  text-shadow: 1px 3px #9E9E9E;
  top: 11%;
}

.attention {
  font-size: 5em;
  left: 27%;
  position: absolute;
  text-shadow: 1px 3px #9E9E9E;
  top: 24%;
}

.title-tagline {
  font-size: 1em;
  left: 10%;
  position: absolute;
  top: 53%;
}

.title button {
  background-color: transparent;
  bottom: 21%;
  color: #FFFFFF;
  font-family: 'Kalam', cursive;
  font-size: 1em;
  height: 15%;
  padding: 2%;
  position: absolute;
  width: 25%;
}
.about {
  left: 4%;
}

.title img{
  height: 56%;
  position: absolute;
  width: 19%;
}

.about img {
  left: 10px;
  top: 10px;
}

.contact {
  left: 35%;
}

.contact img {
  left: 8px;
  top: 9px;
}

.container {
  left: 12.5%;
  position: absolute;
  top: 12.5%;
  width: 75%;  
}

.icon {
  display: block;
  height: 65px;
  margin: 20% auto 1% auto;
  width: 55px;
}

.body-text {
  font-size: 1.5em;
  text-align: center;
}

.peaks {
  background-color: #9E9E9E;
  left: 40%;
  top: 0;
}

.routes {
  background-color: #607D8B;
  left: 0;
  top: 33.33%;
}

.equipment {
  background-color: #212121;
  left: 20%;
  top: 33.33%;
}

.weather {
  background-color: #CFD8DC;
  left: 40%;
  top: 33.33%;
}

.lodging {
  background-color: #9E9E9E;
  bottom: 0;
  left: 0;
}

.guides {
  background-color: #455A64;
  bottom: 0;
  left: 20%;
}

.emergency {
  background-color: #757575;
  bottom: 0;
  left: 40%;
}

.slideshow {
  height: 100%;
  right: 0;
  width: 40%;  
}
 .background {
  height: 100%;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: -1;
}

.cycle {
  background-color: #9E9E9E;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
  opacity: .5;
  position: absolute;
  top: 50%;
  width: 10%;
  z-index: 1;
}

.right {
  right: 5%;
}

.left {
  left: 5%;
}

.dot {
  background-color: #FFFFFF;
  border-radius: 50%;
  height: 2%;
  opacity: .6;
  position: absolute;
  top: 2%;
  width: 3%;
  z-index: 0;
}

.one {
  background-color: #9E9E9E;
  right: 16%;
}

.two{
  right: 11%;
}

.three {
  right: 6%;
}

@media screen and (min-width: 1480px) {
  section {
    max-width: 1480px;
  }
}

@media screen and (max-height: 695px) {
  section {
    max-width: 1283px;
    min-height: 695px;
  }
}

@media screen and (max-width:  855px) {
  .header {
    font-size: 2em;
  }

  .attention {
    font-size: 4em;
  }

  .title-tagline {
    font-size: .6em;
  }

  .title button {
    font-size: .6em;
  }

  .title img {
    height: 34%;
  }
}

@media screen and (max-width: 800px) {
  article {
    height: 25%;
    width: 25%;
  }

  .title {
    height: 50%;
    width: 50%;
  }

  .title img {
    top: 22px;
  }

  .attention {
    font-size: 6em; 
    left: 30%;
    top: 19%;
  }

  .title-tagline {
    font-size: 1.5em;
    top: 40%;
  }

  .title button {
    bottom: 30%;
    font-size: 1em;
    width: 34%;
  }

  .contact {
    left: 45%;
  }

  .peaks {
    font-size: 2em;
    left: 0;
    top: 50%;
    width: 50%;
  }

  .peaks img {
    height: 88px;
    margin-top: 4%;
    width: 100px;
  }

  .routes{
    top: 75%;
  }

  .equipment {
    left: 25%;
    top: 75%;
  }

  .weather {
    top: 75%;
    left: 75%;
  }

  .lodging {
    bottom: 0;
    left: 50%;
  }

  .guides{
    bottom: 25%;
    left: 50%;
  }

  .emergency {
    bottom: 25%;
    left: 75%;
  }

  .slideshow {
    height: 50%;
    width: 50%;
  }

  .background {
    width: 100%;
  }
}

@media screen and (max-width: 554px) {
  .header {
    font-size: 1.5em;
  }

  .attention {
    font-size: 3.5em;
  }

  .title-tagline {
    font-size: .4em;
  }

  .title button {
    font-size: .4em;
  }

  .title img {
    height: 30%;
  }

  .body-text {
    font-size: 1em;
  }

  .peaks {
    font-size: 1.5em;
  }

  .peaks img {
    height: 85px;
    margin-top: 4%;
    width: 75px;
  }
}

@media screen and (max-width: 425px) {
  .header {
    font-size: 1.2em;
  }

  .attention {
    font-size: 3em;
  }

  .title-tagline {
    font-size: .3em;
  }

  .title button {
    bottom: 43%;
    font-size: .3em;
    height: 8%;
  }

  .title img {
    height: 28%;
  }
}

@media screen and (max-width: 376px) {
  article {
    height: 16.665%;
  }

  .title {
    height: 22%;
    top: 44.75%;
    width: 100%;
  }

  .header {
    font-size: 1.8em;
  }

  .attention {
    top: 28%;
    left: 41%;
  }

  .title-tagline {
    font-size: .8em;
    top: 60%;
  }

  .title button {
    bottom: 10%;
    height: 16%;
  }

  .title button img {
    height: 48%;
    left: 19%;
    top: 7px;
  }

  .icon {
    height: 35px;
  }

  .peaks {
    top: 66.66%
  }

  .peaks img {
    height: 50px;
  }

  .routes {
    left: 50%;
    top: 66.66%;
  }

  .equipment {
    left: 75%;
    top: 66.66%;
  }

  .weather {
    top: 83.325%;
  }

  .guides {
    bottom: 0;
    left: 0;
  }

  .emergency {
    bottom: 0;
    left: 25%;
  }

  .slideshow {
    height: 44.75%;
    width: 100%;
  }

  .cycle {
    top: 75%;
  }

  .dot {
    top: 8%;
    width: 3%;
  }
}